html,
body {
  margin: 0px;
  min-height: 100%;
  /* height: 100%; */
}
body {
  color:#000000;
  font-family: "Microsoft JhengHei", '\5FAE\8F6F\96C5\9ED1', '\9ED1\4F53', Arial, Helvetica, sans-serif;
  /* font-size: 3vw; */
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

/* h1-6 */
h1,h2,h3,h4,h5,h6 {
  font-weight: 600; /* bold */
  line-height: 1.2;
  margin: 1.2em 0px 0.5em 0px;
}
p {
  margin: 10px 0px 0px 0px;
  background-color: #c0c0c0;
}



[title] {
  position: relative;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #FF00FF;
}
[title]::before {
  content: attr(title);
  display: block;
  position: absolute;
  left: -1px;
  top: 0px;
  font-size: 8px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1px 10px;
  background-color: #FF00FF;
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}


/* .close btn */
.close {
  position: relative;
  width: 36px;
  height: 36px;
}
  .close::before,
  .close::after {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close::before {
    left: 3px;
    top: 16px;
    width: 29px;
    height: 3px;
  }
  .close::after {
    left: 16px;
    top: 3px;
    width: 3px;
    height: 29px;
  }

/* .selector */
  .selector a {
    text-decoration: none;
    background-color: #FFFFFF;
  }
    .selector a label {
      cursor: inherit;
    }


/* mCustomScrollbar */
.mCustomScrollbar {
  height: 100%;
  overflow: hidden;
}
.mCSB_inside>.mCSB_container {
  margin-right: 12px;
}
